// Rems with fallback
// --------------------------------------------------------------------------

@function calculateRem($size) {
	@return ($size / 16px) * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}


// Inputs
// --------------------------------------------------------------------------

@mixin placeholder() {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}


// Шрифты
// --------------------------------------------------------------------------

@mixin font-face($name, $path) {
	@font-face {
		font-family: quote($name);
		src: url("../fonts/" + $path + ".eot");
		src: url("../fonts/" + $path + ".eot?#iefix") format("embedded-opentype"), url("../fonts/" + $path + ".woff2") format("woff2"), url("../fonts/" + $path + ".woff") format("woff"), url("../fonts/" + $path + ".ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}
}