doctype html
html
	include includes/_head
	+head('Главная страница')
	body
		div.wrapper
			// Шапка
			include includes/_header
			

			// Контент
			

		// Подвал
		include includes/_footer