// Color
$white:   #f9f9f9
$blue:    #021d3d
$grey:    #c5c6c8

// Fonts
$ff:      'Roboto-font', Arial, sans-serif

// Fonts size
$fz--xs:  calcrem(14px)
$fz--sm:  calcrem(16px)
$fz--md:  calcrem(18px)
$fz--lg:  calcrem(20px)

$fz:     $fz--sm // Standart

// Screen
$columns:         12
$gutter:          30px

$breakpoint--sm:  768px
$breakpoint--md:  992px
$breakpoint--lg:  1200px

// If Bootstrap
// Enter container width without gutter
$container--sm:    720px
$container--md:    940px
$container--lg:    1140px

// If Uikit
$container-max-width:           1200px
$container-small-max-width:     900px
$container-large-max-width:     1600px