// Подвал
footer.footer
  div.container
    div.col-xs-6
      p &copy; 2017
    div.col-xs-6.text-right
      p сборка от: 
        a(href="https://github.com/Prepros", target='_blank') github.com/Prepros


script(src='/assets/scripts/scripts.js')